* {
  margin: 0;
  padding: 0;
}

/* ------------------------------------*/
/* --------------- Font ---------------*/
/* ------------------------------------*/
@font-face {
  font-family: "RobotoMono-Regular";
  src: url(../font/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "RobotoMono-Light";
  src: url(../font/RobotoMono-Light.ttf);
}

@font-face {
  font-family: "RobotoMono-Bold";
  src: url(../font/RobotoMono-Bold.ttf);
}

@media screen AND (min-width: 768px) {

  /* ------------------------------------*/
  /* ------------- Cookies --------------*/
  /* ------------------------------------*/

  #page1 {
    overflow-y: hidden;
    overflow-y: hidden;
  }

  #cookies {
    display: flex;
    font-family: "RobotoMono-Regular";
    background: hsl(0 0% 0% / 0.5);
    backdrop-filter: blur(1rem);
    color: white;
    bottom: 0%;
    position: absolute;
    padding: 2%;
    z-index: 1;
    width: 96vw;
  }

  .btnaccepted {
    font-family: "RobotoMono-Regular";
    border-radius: 15px;
    border: none;
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.66s;
    padding: 5px;
    margin-left: 1%;
  }

  .btnaccepted:hover {
    background-color: #e9f7ff;
    box-shadow: 0 5px 0 #9cb3cc;
    color: #1c87c9;
    transition: 0.33s;
  }

  .btnrefuse:hover {
    background-color: #e9f7ff;
    box-shadow: 0 5px 0 #9cb3cc;
    color: #1c87c9;
    transition: 0.33s;
  }

  .btnrefuse {
    font-family: "RobotoMono-Regular";
    border-radius: 15px;
    border: none;
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.66s;
    padding: 5px;
    margin-left: 1%;
  }

  .modale {
    font-family: "RobotoMono-Regular";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(36, 36, 39);
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: white;
    width: 23%;
    display: none;
  }

  .modale.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }

  ::selection {
    color: #fff;
    background: #FCBA7F;
  }

  .content h2 {
    margin-bottom: 8%;
  }

  .content p {
    margin: 5px 0 20px 0;
  }

  .item {
    font-family: "RobotoMono-Regular";
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.66s;
    padding: 10px;
    margin-left: 2%;
  }

  .item:hover {
    background-color: #e9f7ff;
    box-shadow: 0 5px 0 #9cb3cc;
    color: #1c87c9;
    transition: 0.33s;
  }

  .lien {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-left: 2%;
  }

  .contperso {
    display: flex;
  }

  .adstandard {
    display: flex;
  }

  .measure {
    display: flex;
  }

  .btnperso {
    font-family: "RobotoMono-Regular";
    color: black;
    border-radius: 15px;
    border: none;
    background-color: #e9f7ff;
    box-shadow: 0 5px 0 #9cb3cc;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.66s;
    margin-bottom: 8%;
    margin-left: 15%;
    padding: 1.3%;
    text-align: center;
  }

  .btnperso:hover {
    color: #1c87c9;
    transition: 0.33s;
  }

  .btnperso2 {
    font-family: "RobotoMono-Regular";
    color: black;
    border-radius: 15px;
    border: none;
    background-color: #e9f7ff;
    box-shadow: 0 5px 0 #9cb3cc;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.66s;
    margin-bottom: 8%;
    margin-left: 15%;
    padding: 1.3%;
    text-align: center;
  }

  .btnperso2:hover {
    color: #1c87c9;
    transition: 0.33s;
  }

  .btngreen {
    font-family: "RobotoMono-Regular";
    color: black;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: #008000;
    box-shadow: 0 5px 0 #096409;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.66s;
    margin-bottom: 8%;
    margin-left: 15%;
    padding: 1.3%;
    text-align: center;
  }

  .btnred {
    font-family: "RobotoMono-Regular";
    color: black;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: #ff0000;
    box-shadow: 0 5px 0 #b40a0a;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: 0.66s;
    margin-bottom: 8%;
    margin-left: 15%;
    padding: 1.3%;
    text-align: center;
  }

  /* ------------------------------------*/
  /* ------- Couleur Background ---------*/
  /* ------------------------------------*/

  .couleurbackground {
    background: rgb(25, 25, 43);
    background: linear-gradient(90deg, rgb(25, 25, 43) 0%, rgb(25, 25, 43) 35%, rgba(255, 255, 255, 1) 35%);
  }

  /* ------------------------------------*/
  /* ------- Carte Présentation ---------*/
  /* ------------------------------------*/
  .gridtemplate {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
  }

  .gridtemplatecarte {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vh);
  }

  .gridcarte {
    grid-column: 6/20;
    grid-row: 8/20;
  }

  ul {
    list-style-type: none;
    perspective: 1000px;
  }

  ul li {
    display: grid;
    grid-template-columns: auto;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    border-bottom: 4px solid rgba(0, 0, 0, .2);
    border-right: 4px solid rgba(0, 0, 0, .2);
    transition: 0.8s;
    font-family: "RobotoMono-Light";
  }

  ul li:nth-child(1) {
    color: #fff;
    background-color: #1c87c9;
    z-index: 2;
  }


  ul li:hover {
    transform: scale(1.2);
    z-index: 3;
  }

  img {
    width: 120px;
    height: 150px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18%;
  }

  #textcarte {
    text-align: center;
  }

  #barreh {
    background: #fff no-repeat scroll center;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100px;
    height: 2px;
  }

  .iconereseaux {
    font-size: 25px;
    margin-left: 5%;
    color: rgb(25, 25, 43);
  }

  .iconereseaux:hover {
    font-size: 25px;
    margin-left: 5%;
    color: white;

  }

  /* ---------------------------------------------*/
  /* ------- Description de mes loisirs ----------*/
  /* ---------------------------------------------*/


  .boutontemplate {
    border-radius: 15px;
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: "RobotoMono-Bold";
    text-align: center;
    transition: 0.66s;
  }

  .boutontemplate:hover {
    background-color: #e9f7ff;
    box-shadow: 0 5px 0 #9cb3cc;
    color: #1c87c9;
    transition: 0.33s;
  }

  .boutonsoon {
    border-radius: 15px;
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: "RobotoMono-Bold";
    text-align: center;
    pointer-events: none;
  }

  #propos {
    grid-column: 13/20;
    grid-row: 4/20;
    font-family: "RobotoMono-Bold";
    margin-left: 5%;
    margin-top: 10%;
  }

  #text1 {
    grid-column: 6/10;
    grid-row: 5/10;
    font-family: "RobotoMono-Regular";
  }

  #bouton1 {
    grid-column: 11/20;
    grid-row: 7/20;
    width: 160px;
    height: 20px;
  }

  #bouton2 {
    grid-column: 16/20;
    grid-row: 7/20;
    width: 160px;
    height: 20px;
  }

  #bouton3 {
    grid-column: 13/20;
    grid-row: 16/20;
    width: 160px;
    height: 20px;
    margin-left: 5%;
  }

  .barrecolor {
    background-color: #105cad;
    height: 200px;
    width: 5px;
    margin-left: 32px;
  }

  #barreposition {
    display: flex;
    grid-column: 14/20;
    grid-row: 9/20;
    margin-left: 15%;
  }

  .iconeaccueil {
    font-size: 150%;
  }

  .texticone {
    font-family: "RobotoMono-Regular";
  }

  #telephone {
    grid-column: 11/20;
    grid-row: 9/20;
    margin-top: 1%;
  }

  #telephonetext {
    grid-column: 11/20;
    grid-row: 9/20;
    margin-left: 4%;
    margin-top: 1%;
  }

  #mail {
    grid-column: 11/20;
    grid-row: 10/20;
    margin-top: 3%;
  }

  #mailtext {
    grid-column: 11/20;
    grid-row: 10/20;
    margin-left: 4%;
    margin-top: 3%
  }

  #adresse {
    grid-column: 11/20;
    grid-row: 11/20;
    margin-top: 6%;
  }

  #adressetext {
    grid-column: 11/20;
    grid-row: 11/20;
    margin-left: 4%;
    margin-top: 5%;
  }

  #adressetext2 {
    grid-column: 11/20;
    grid-row: 11/20;
    margin-left: 4%;
    margin-top: 8%;
  }

  #textloisirs {
    grid-column: 16/20;
    grid-row: 9/20;
  }

  #technologie {
    grid-column: 15/20;
    grid-row: 10/20;
    margin-left: 8%;
  }

  #technologietext {
    grid-column: 15/20;
    grid-row: 10/20;
    margin-left: 16%;
  }

  #basketball {
    grid-column: 15/20;
    grid-row: 11/20;
    margin-left: 8%;
  }

  #basketballtext {
    grid-column: 15/20;
    grid-row: 11/20;
    margin-left: 16%;
  }

  #ski {
    grid-column: 15/20;
    grid-row: 12/20;
    margin-left: 8%;
  }

  #skitext {
    grid-column: 15/20;
    grid-row: 12/20;
    margin-left: 16%;
  }

  #film {
    grid-column: 15/20;
    grid-row: 13/20;
    margin-left: 8%;
  }

  #filmtext {
    grid-column: 15/20;
    grid-row: 13/20;
    margin-left: 16%;
  }

  /* ---------------------------------------------*/
  /* ------------------- CV ----------------------*/
  /* ---------------------------------------------*/

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #ffffff;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: center;
    transition: transform 0.50s ease-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

  .couleurblanc {
    color: white;
  }

  .barredenav {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 25px;
    font-family: "RobotoMono-Regular";
    background-color: rgba(25, 25, 43, 0.753);
    margin-bottom: 2%;
  }

  .titrecv {
    margin-top: 15%;
  }

  .cv {
    background-color: rgb(223, 55, 88);
    margin: 5% 10% 0 8%;
    border-bottom: 4px solid rgba(0, 0, 0, .2);
    border-right: 4px solid rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: auto;
    border-radius: 12px;
    padding: 1%;
  }

  .cvtext {
    font-family: "RobotoMono-Regular";
    font-size: 15px;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  #zeldasword {
    height: 55px;
  }

  #footermarge {
    margin-top: 20%;
  }

  .rondlang {
    border-radius: 100%;
    width: 31%;
  }

  .couleurlang {
    background-color: #1c87c9;
    color: #1c87c9;
  }

  .couleurlangmt {
    background: rgb(28, 135, 201);
    color: rgb(28, 135, 201);
    background: linear-gradient(90deg, rgba(28, 135, 201, 1) 0%, rgba(28, 135, 201, 1) 50%, rgba(33, 37, 41, 1) 50%);
  }

  .iconecompet {
    font-size: 200%;
  }

  .iconecompetcolor {
    color: #ffffff;
  }

  /* ------------------------------------------------*/
  /* ------------------- CV Papier-------------------*/
  /* ------------------------------------------------*/

  .letter-image {
    margin-top: 5%;
    position: absolute;
    left: 50%;
    width: 200px;
    height: 200px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .animated-mail {
    position: absolute;
    height: 150px;
    width: 200px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }

  .animated-mail .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent rgb(218, 67, 97) transparent;
    z-index: 2;
  }

  .animated-mail .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: rgb(199, 51, 80) transparent transparent transparent;
    z-index: 2;
  }

  .animated-mail .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: rgb(212, 48, 81);
    z-index: 0;
  }

  .animated-mail .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent rgb(223, 55, 88);
    z-index: 2;
  }

  .animated-mail .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;
  }

  .animated-mail .letter .letter-border {
    height: 10px;
    width: 100%;
    background: repeating-linear-gradient(-45deg, rgb(211, 45, 78), rgb(211, 45, 78) 8px, transparent 8px, transparent 18px);
  }

  .animated-mail .letter .letter-title {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 40%;
    background: rgb(211, 45, 78);
  }

  .animated-mail .letter .letter-context {
    margin-top: 10px;
    margin-left: 5px;
    height: 10px;
    width: 20%;
    background: rgb(211, 45, 78);
  }

  .animated-mail .letter .letter-stamp {
    margin-top: 30px;
    margin-left: 120px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    background: rgb(211, 45, 78);
    opacity: 0.3;
  }

  .shadow {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 400px;
    height: 30px;
    transition: 0.4s;
    transform: translateX(-50%);
    -webkit-transition: 0.4s;
    -webkit-transform: translateX(-50%);
    -moz-transition: 0.4s;
    -moz-transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }

  .letter-image:hover .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  .letter-image:hover .animated-mail .top-fold {
    transition: transform 0.4s, z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition: transform 0.4s, z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform 0.4s, z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .letter-image:hover .animated-mail .letter {
    height: 180px;
  }

  .letter-image:hover .shadow {
    width: 250px;
  }
}

/* ---------------------------------------------*/
/* ---------------- Portfolio ------------------*/
/* ---------------------------------------------*/

.bgFolio {
  background: rgb(25, 25, 43);
  background: linear-gradient(90deg, rgb(25, 25, 43) 0%, rgb(25, 25, 43) 35%, rgba(255, 255, 255, 1) 35%);
  font-family: "RobotoMono-Regular";
  display: flex;
  justify-content: center;
}

.textColoring {
  font-size: 2vh;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 31%, rgb(25, 25, 43) 0%, rgb(25, 25, 43) 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1%;
  margin-top: 10%;
}

.marginIntern {
  margin-bottom: 4%;
}

#lastname {
  position: absolute;
  padding: 1%;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#firstname {
  position: absolute;
  padding: 1%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#email {
  position: absolute;
  padding: 1%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btnSend {
  position: absolute;
  top: 55%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-family: "RobotoMono-Regular";
  color: white;
  border-radius: 15px;
  border: none;
  background-color: #1c87c9;
  box-shadow: 0 5px 0 #105cad;
  text-decoration: none;
  text-align: center;
  transition: 0.66s;
  padding: 10px;
  margin-left: 2%;
}

#btnSend:hover {
  background-color: #e9f7ff;
  box-shadow: 0 5px 0 #9cb3cc;
  color: #1c87c9;
  transition: 0.33s;
}

.modaleFolio {
  font-family: "RobotoMono-Regular";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(36, 36, 39);
  padding: 25px 25px 30px 25px;
  border-radius: 15px;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: white;
  width: 23%;
  display: none;
}

@media screen AND (max-width: 768px) {

  html {
    overflow-x: hidden;
  }

  .couleurbackground {
    background: rgb(25, 25, 43);
    background: linear-gradient(90deg, rgb(25, 25, 43) 0%, rgb(25, 25, 43) 35%, rgba(255, 255, 255, 1) 35%);
  }

  /* ------------------------------------*/
  /* ------- Carte Présentation ---------*/
  /* ------------------------------------*/
  .gridtemplate {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
  }

  .gridtemplatecarte {
    display: grid;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vh);
  }

  .gridcarte {
    grid-column: 5/20;
    grid-row: 2/20;
  }

  ul {
    list-style-type: none;
    perspective: 1000px;
  }

  ul li {
    display: grid;
    grid-template-columns: auto;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    position: absolute;
    border-bottom: 4px solid rgba(0, 0, 0, .2);
    border-right: 4px solid rgba(0, 0, 0, .2);
    transition: 0.8s;
    font-family: "RobotoMono-Light";
  }

  ul li:nth-child(1) {
    color: #fff;
    background-color: #1c87c9;
    z-index: 2;
  }


  ul li:hover {
    transform: scale(1.2);
    z-index: 3;
  }

  img {
    width: 120px;
    height: 150px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18%;
  }

  #textcarte {
    text-align: center;
  }

  #barreh {
    background: #fff no-repeat scroll center;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100px;
    height: 2px;
  }

  .iconereseaux {
    font-size: 25px;
    margin-left: 5%;
    color: rgb(25, 25, 43);
  }

  .iconereseaux:hover {
    font-size: 25px;
    margin-left: 5%;
    color: white;

  }

  /* ---------------------------------------------*/
  /* ------- Description de mes loisirs ----------*/
  /* ---------------------------------------------*/


  .boutontemplate {
    border-radius: 15px;
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: "RobotoMono-Bold";
    text-align: center;
    transition: 0.66s;
  }

  .boutontemplate:hover {
    background-color: #e9f7ff;
    box-shadow: 0 5px 0 #9cb3cc;
    color: #1c87c9;
    transition: 0.33s;
  }

  .boutonsoon {
    border-radius: 15px;
    background-color: #1c87c9;
    box-shadow: 0 5px 0 #105cad;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-family: "RobotoMono-Bold";
    text-align: center;
    pointer-events: none;
  }

  #propos {
    grid-column: 4/20;
    grid-row: 9/20;
    font-family: "RobotoMono-Bold";
    margin-left: 5%;
  }

  #text1 {
    grid-column: 6/10;
    grid-row: 4/10;
    font-family: "RobotoMono-Regular";
  }

  #bouton1 {
    grid-column: 5/20;
    grid-row: 15/20;
    width: 160px;
    height: 20px;
  }

  #bouton2 {
    grid-column: 5/20;
    grid-row: 17/20;
    width: 160px;
    height: 20px;
  }

  #bouton3 {
    grid-column: 5/20;
    grid-row: 19/20;
    width: 160px;
    height: 20px;
  }

  .barrecolor {
    background-color: #105cad;
    height: 200px;
    width: 5px;
    margin-left: 32px;
  }

  #barreposition {
    display: none;
    grid-column: 14/20;
    grid-row: 8/20;
    margin-left: 15%;
  }

  .iconeaccueil {
    font-size: 150%;
  }

  .texticone {
    font-family: "RobotoMono-Regular";
  }

  #telephone {
    grid-column: 8/20;
    grid-row: 11/20;
  }

  #telephonetext {
    grid-column: 9/20;
    grid-row: 11/20;
    margin-left: 4%;
    margin-top: 1%;
  }

  #mail {
    grid-column: 8/20;
    grid-row: 12/20;
    margin-top: 5%;
  }

  #mailtext {
    grid-column: 9/20;
    grid-row: 12/20;
    margin-left: 4%;
    margin-top: 5%;
  }

  #adresse {
    grid-column: 8/20;
    grid-row: 13/20;
    margin-top: 15%;
  }

  #adressetext {
    grid-column: 9/20;
    grid-row: 13/20;
    margin-left: 4%;
    margin-top: 9%;
  }

  #adressetext2 {
    grid-column: 9/20;
    grid-row: 14/20;
    margin-left: 4%;
  }

  #textloisirs {
    display: none;
    grid-column: 16/20;
    grid-row: 8/20;
  }

  #technologie {
    display: none;
    grid-column: 15/20;
    grid-row: 9/20;
    margin-left: 8%;
  }

  #technologietext {
    display: none;
    grid-column: 15/20;
    grid-row: 9/20;
    margin-left: 16%;
  }

  #basketball {
    display: none;
    grid-column: 15/20;
    grid-row: 10/20;
    margin-left: 8%;
  }

  #basketballtext {
    display: none;
    grid-column: 15/20;
    grid-row: 10/20;
    margin-left: 16%;
  }

  #ski {
    display: none;
    grid-column: 15/20;
    grid-row: 11/20;
    margin-left: 8%;
  }

  #skitext {
    display: none;
    grid-column: 15/20;
    grid-row: 11/20;
    margin-left: 16%;
  }

  #film {
    display: none;
    grid-column: 15/20;
    grid-row: 12/20;
    margin-left: 8%;
  }

  #filmtext {
    display: none;
    grid-column: 15/20;
    grid-row: 12/20;
    margin-left: 16%;
  }
}